In [233]:
# importing metrics
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

In [234]:
# Import the dataset
df = pd.read_csv("AL_NJ_Income_pct.csv")
df.head()

,STATEFIPS,STATE,zipcode,Returns_pct1,Returns_pct2,Returns_pct3,Returns_pct4,Returns_pct5,Returns_pct6,total
0,1,AL,35004,28.98,27.06,18.23,12.48,12.09,1.15,5210
1,1,AL,35005,42.26,30.97,14.52,6.45,5.81,0.00,3100
2,1,AL,35006,35.83,27.50,15.83,10.00,10.83,0.00,1200
3,1,AL,35007,34.09,22.19,15.24,11.22,15.24,2.01,11940
4,1,AL,35010,45.76,26.17,11.25,6.70,7.84,2.28,7910

In [235]:
df.isna().sum()

STATEFIPS       0
STATE           0
zipcode         0
Returns_pct1    0
Returns_pct2    0
Returns_pct3    0
Returns_pct4    0
Returns_pct5    0
Returns_pct6    0
total           0
dtype: int64

In [236]:
lb = LabelEncoder()
df['STATE'] = lb.fit_transform(df['STATE'])

In [237]:
df_C5 = df.copy()

In [238]:
X = df.iloc[:,3:9]
Y = df['STATE']

In [239]:
X

,Returns_pct1,Returns_pct2,Returns_pct3,Returns_pct4,Returns_pct5,Returns_pct6
0,28.98,27.06,18.23,12.48,12.09,1.15
1,42.26,30.97,14.52,6.45,5.81,0.00
2,35.83,27.50,15.83,10.00,10.83,0.00
3,34.09,22.19,15.24,11.22,15.24,2.01
4,45.76,26.17,11.25,6.70,7.84,2.28
...,...,...,...,...,...,...
1162,23.88,22.39,19.40,11.94,17.91,4.48
1163,23.25,13.63,10.22,9.02,24.85,19.04
1164,50.37,30.12,10.18,3.89,4.21,1.23
1165,29.67,22.66,14.69,10.27,17.09,5.62
1166,27.90,20.66,14.63,9.95,17.50,9.35

In [240]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1162    1
1163    1
1164    1
1165    1
1166    1
Name: STATE, Length: 1167, dtype: int64

In [241]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [242]:
DT = DecisionTreeClassifier(criterion='entropy')

In [243]:
DT.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [244]:
y_pred = DT.predict(X_test)

In [245]:
print(classification_report(y_test,y_pred, target_names=['AL','NJ']))

              precision    recall  f1-score   support

          AL       0.77      0.77      0.77       188
          NJ       0.73      0.73      0.73       163

    accuracy                           0.75       351
   macro avg       0.75      0.75      0.75       351
weighted avg       0.75      0.75      0.75       351

In [246]:
# Compute evaluation metrics
# What is the accuracy of your model?
# What is the precision of the model?
# What is the recall of the model?
# What is the F1 of the model?
print('Accuracy: ', accuracy_score(y_test,y_pred))
print('Precision: ', precision_score(y_test,y_pred))
print('Recall: ', recall_score(y_test,y_pred))
print('F1: ', f1_score(y_test,y_pred))

Accuracy:  0.7492877492877493
Precision:  0.7300613496932515
Recall:  0.7300613496932515
F1:  0.7300613496932515

In [247]:
y_test = lb.inverse_transform(y_test)
y_pred = lb.inverse_transform(y_pred)

In [248]:
# Show the cross tabulation of the classification. 
pd.crosstab(y_test,y_pred, colnames=['STATE'], rownames=['STATE'])

STATE   AL   NJ
STATE
AL     144   44
NJ      44  119